extends layout.pug

block content
  .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
    h2 Удалить аккаунт
    p.
      Запрос на удаление отправлен. 
      Через 7 дней ваши пользовательские данные будут безвозвратно удалены из базы данных. 
      В течение этого времени вы не сможете войти в систему, но вы можете обратиться за помощью к администратору, если ваш запрос на удаление был выполнен по ошибке. 
      Через 7 дней ваш аккаунт будет безвозвратно удален.
