extends layout.pug

block content
  .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
    if internalError
      h2 Error
      p
        | Your account deletion request could not be processed due to an internal
        | error.  Please try again later and ask an administrator for assistance
        | if the problem persists.
    else if !loggedIn
      h2 Требуется авторизация
      p
        | You must&nbsp;
        a(href="/login") log in
        | &nbsp; before requesting deletion of your account.
    else if authFailed
      h2 Ошибка авторизации
      p= reason
    else if channelCount > 0
      h2 Удалить аккаунт
      p
        | Ваш аккаунт не может быть удален, поскольку у вас зарегистрирован один или несколько каналов. Чтобы удалить свой аккаунт, вы должны сначала&nbsp;
        a(href="/account/channels") удалить их
        | &nbsp;или попросить администратора передать право собственности на эти каналы
        | другому аккаунту.
    else
      h2 Удалить аккаунт
      p
        strong Отправка этой формы приведет к необратимому удалению вашего аккаунта.&nbsp;
        | Через 7 дней ваш аккаунт будет удален безвозвратно и не подлежит восстановлению.
        | В течение этого времени вы не сможете войти в систему, но вы можете попросить
        | администратора восстановить вашу учетную запись, если удаление было запрошено по ошибке.
        | Пожалуйста, подтвердите свой пароль, чтобы продолжить.
      form(action="/account/delete", method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        .form-group(class=wrongPassword ? "has-error" : "")
          label.control-label(for="password") Пароль
          input#password.form-control(type="password", name="password")
          if wrongPassword
            p.text-danger.
              Неверный пароль
        .checkbox
          label
            input#confirm-delete(type="checkbox", name="confirmed")
            | Я осознаю, что, отправив этот запрос, моя учетная запись будет удалена безвозвратно и безвозвратно
          if missingConfirmation
            p.text-danger.
              Вы должны установить этот флажок, чтобы подтвердить, что хотите удалить свой аккаунт
        button.btn.btn-danger.btn-block(type="submit") Удалить аккаунт
