extends layout.pug

block content
  .col-md-12
    .alert.alert-danger
      h1 Недействительная сессия
      p Ваш браузер попытался отправить данные формы в <code>#{path}</code> с недопустимым токеном аутентификации.  Это может быть связано с тем, что:
        ul
          li Срок действия вашего сеанса истек
          li В вашем запросе отсутствовал токен аутентификации
          li Злоумышленник попытался вмешаться в ваш сеанс
          li Ваш браузер не поддерживает файлы cookie или они не включены
        | Если проблема не устранена, пожалуйста, обратитесь к администратору.
      if referer
        a(href=referer) Вернуться на предыдущую страницу
