extends layout.pug

block content
  .col-md-8.col-md-offset-2
    h1 Пользовательский скрипт Google Диска
    h2 Дисклеймер
    .alert.alert-danger.messagebox
      strong Unsupported
      p.
        Эта функциональность предоставляется <strong>как-есть</strong> для обратной совместимости для существующих пользователей, 
        для которых, как известно, это уже работает.
        Есть много причин, известных и неизвестных, по которым это может
        <strong>не</strong> сработать для вас; пожалуйста, обратите внимание, что сотрудники каналов поддержки CyTube не могут оказать никакой помощи в устранении неполадок, 
        и вам будет предложено просто использовать другого поставщика видео.
      p.
        Эта функция изначально была добавлена для того, чтобы пользователи могли делиться своими личными видео, 
        хранящимися на их диске. Никакая поддержка не будет оказана пользователям, 
        пытающимся использовать его для обхода ограничений авторских прав на сторонних видеохостингах.
    h2 Как это работает
    p.
      Пользовательский скрипт - это короткий скрипт, который вы можете установить с помощью расширения браузера, 
      такого как Greasemonkey или Tampermonkey, который запускается на странице и предоставляет дополнительные функции, 
      необходимые для воспроизведения видео с Google Диска.
    h2 Установка
    ul
      li
        strong Chrome
        | &mdash;Установите <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo" target="_blank">Tampermonkey</a>.
      li
        strong Firefox
        | &mdash;Установите <a href="https://addons.mozilla.org/en-US/firefox/addon/tampermonkey/" target="_blank">Tampermonkey</a>
        | или <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a>.
      li
        strong Другие браузеры
        | &mdash;Установите соответствующий плагин userscript для вашего браузера.
        | Tampermonkey поддерживает многие браузеры, помимо Chrome.
    p.
      После того, как вы установили дополнение userscript manager для своего браузера,
      вы можете <a href="/js/cytube-google-drive.user.js" target="_blank">
      установите пользовательский скрипт</a>.  Если эта ссылка выдает код 404, 
      это означает, что администратор этого сервера еще не сгенерировал ее.
    p.
      Вы можете найти руководство со скриншотами процесса установки
      <a href="https://github.com/calzoneman/sync/wiki/Google-Drive-Userscript-Installation-Guide" target="_blank">на GitHub</a>.
