extends layout.pug

mixin notfound()
  h1 Не найдено
  p Страница, которую вы искали, похоже, не существует. Пожалуйста, убедитесь, что вы правильно ввели URL-адрес.
  if message
    p Причина: #{message}
mixin forbidden()
  h1 Запрет
  p У вас нет разрешения на доступ к <code>#{path}</code>
mixin genericerror()
  h1 Ой
  p Ваш запрос не может быть обработан.  Код состояния: <code>#{status}</code>, сообщение: <code>#{message}</code>

block content
  .col-md-12
    .alert.alert-danger
      if status == 404
        +notfound()
      else if status == 403
        +forbidden()
      else
        +genericerror()
