extends layout.pug

block content
  .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
    .alert.alert-info.center.messagebox
      strong Выйти
      p
        if redirect
          a(href=redirect) Вернуться на предыдущую страницу
